.search-form {
  padding-top: 50px;
}

label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 60%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin: .2em .4em .3em;
}

.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
